<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="UTF-8">
      <title>Resultado de subida</title>
   </head>
   
   <body>
      
      <br/>
      <h3>Archivos subidos:</h3>
      
      <ul th:each="file : ${archivoSubido}">
         <li th:utext="${file}"></li>  
      </ul>      
      
      <h3>Fallo en archivos:</h3>
      <ul th:each="file : ${failedFiles}">
         <li style="color:red;" th:utext="${file}"></li>  
      </ul>
      
   </body>
   
</html>