<header class="navigation">
<div class="container">
<div class="row">
  <div class="col-lg-12 pt-4">
    <nav class="navbar navbar-expand-lg navbar-light difuminado" style="background-color: rgba(228,235,170,0.8);">
    <div class="container-fluid">
        <!-- logo -->
        <a class="navbar-brand" href="/">
          <img src="/logo_escano.png" width="32px" alt="XXX">
        </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a href="/"><button class="btn btn-sm btn-outline-primary" type="button">Inicio</button></a>
          </li>
          <!--
          <li class="nav-item">
            <a class="nav-link" href="/brigada">Brigadas</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li>
          -->
        </ul>
        <form class="d-flex">
          <button type="button" class="btn me-2 btn-sm btn-outline-danger"  data-bs-toggle="modal" data-bs-target="#chgpwd">Cambiar clave</button>
          <a href="/salir"><button class="btn btn-sm btn-outline-primary" type="button">Salir</button></a>
        </form>
      </div>
    </div>
  </nav>
</div>
</div>
</div>
</header>  



<!-- Modal PWD-->
<div class="modal fade" id="chgpwd" tabindex="-1" aria-labelledby="chgpwdLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="color:white; background-color:rgba(13,110,253,1);">
        <h5 class="modal-title" id="chgpwdLabel">Cambiar clave</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
      </div>
      <div class="modal-body text-center" style="color:black; background-color: rgba(228,235,170,0.8);">

      
        <div class="input-group mb-1 pt-2">
          <span class="input-group-text border-dark" id="nombre_lbl">Clave anterior</span>
          <input value="" id="oldpasswd" type="password" class="form-control border-dark" aria-label="Clave anterior" aria-describedby="nombre_lbl">
        </div>
        <div class="input-group mb-1">
          <span class="input-group-text border-dark" id="er1">Nueva clave</span>
          <input value="" id="passwd" type="password" class="form-control border-dark" aria-label="Nueva clave" aria-describedby="er1">
        </div>
        <div class="input-group mb-1">
          <span class="input-group-text border-dark" id="do2_lbl">Repetir clave</span>
          <input value="" id="passwd2" type="password" class="form-control border-dark" aria-label="Repetir clave" aria-describedby="do2_lbl">
        </div>
        <button id="cambiapaswdord" class="my-2 btn btn-outline-success btn-sm float-end">Cambiar</button>
        

      </div>
      <div class="modal-footer" style="background-color: rgba(228,235,170,0.8);">
        <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Cerrar</button>

      </div>
    </div>
  </div>
</div>
<script>
  function chgpassword(){
    oldpasswd = document.getElementById("oldpasswd");
    passwd =  document.getElementById("passwd");
    passwd2 =  document.getElementById("passwd2");
    if (passwd.value.length == 0 || oldpasswd.value.length == 0) {
        return false;
    }
   
    if (passwd2.value!=passwd.value) {
      alert("Las contraseñas no coinciden");
      return;
    } 
    var ctr=0;
    matchedCase = new Array();
      matchedCase.push("[$@$!%*~#&()_-]"); 
      matchedCase.push("[A-Z]");      
      matchedCase.push("[0-9]");      
      matchedCase.push("[a-z]");     
    for (var i = 0; i < matchedCase.length; i++) {
      if (new RegExp(matchedCase[i]).test(passwd.value)) {
        ctr++;
      }
    }
    if (ctr<4){
      alert("La clave no cumple los requisitos de seguridad"+
      "\n- Utilice Mayúsculas,minúsculas y números"+
      "\n- Incluya algún caractér especial @$!%*~#&()_-");
      return;
    }
    enviaCambioPwd(passwd.value, oldpasswd.value);
  }

  function enviaCambioPwd(passwd, oldpasswd){
    const data = new FormData();
    data.append('passwd', passwd);
    data.append('oldpasswd', oldpasswd);
    fetch('/usuarios/cambiapass', { method: "POST", body: data })
      .then(response => {
        if (response.status==200) {
        alert("contraseña cambiada con éxito");
        window.location.assign('/salir');
        } else {
        alert("No ha sido posible cambiar la clave");
        }
      })
      .catch(error =>{
        alert("No ha sido posible cambiar la clave");
      }); 
  }
document.getElementById("cambiapaswdord").addEventListener('click', chgpassword , false);
</script>