<th:block th:include="/cabecera.html"></th:block>

<section style="background-color: #eee;">
    <div class="container py-5">
      <div class="row">
        <div class="col">
          <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
            <ol class="breadcrumb mb-0">
              <li class="breadcrumb-item"><a href="/">Inicio</a></li>
              <li class="breadcrumb-item"><a href="/brigada">Brigadas</a></li>
              <li class="breadcrumb-item active" aria-current="page">Detalle de la Brigada <span id="nombreBrigada"></span> </li>
            </ol>
          </nav>
        </div>
      </div>
  
      <div class="row">
        <div class="col-lg-4">
          <div class="card mb-4">
            <div class="card-body text-center">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
                class="rounded-circle img-fluid" style="width: 150px;">
              <h5 class="my-3">John Smith</h5>
              <p class="text-muted mb-1">Comte. Brigada</p>
              <p class="text-muted mb-4">6 Brigada Afa</p>
              <div class="d-flex justify-content-center mb-2">
                <button type="button" class="btn btn-primary">@mail</button>
                <button type="button" class="btn btn-outline-primary ms-1">Tlf: 666-555-444</button>
              </div>
            </div>
          </div>
          <div class="card mb-4 mb-lg-0">
            
            <div class="card mb-4">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-6">
                      <p class="mb-0">Creada</p>
                    </div>
                    <div class="col-sm-6">
                      <p  id="creada" class="text-muted mb-0">xx</p>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-6">
                      <p class="mb-0">Actualizada</p>
                    </div>
                    <div class="col-sm-6">
                      <p class="text-muted mb-0" id="actualizada">xx</p>
                    </div>
                  </div>
                  <hr>
                </div>
              </div>

          </div>
        </div>



        <div class="col-lg-8">



          <div class="row">

            <div class="col-6">
                <div class="card mb-4 mb-md-0">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-6">
                          <span th:text="'Usuarios ('+ ${usuarios.size}+')'" class="text-primary font-italic me-1">Usuarios</span>
                        </div>
                        <div class="col-6 text-end">
                          <button class="btn btn-sm btn-success add_fol mb-2" data-bs-toggle="modal" 
                            data-bs-target="#add_user" title="Agregar Usuarios">+</button>
                        </div>
                        <div class="col py-3 text-center">
                          <input class="form-check-input" type="checkbox" id="flexCheckDefault" onClick="show_nombres();">
                          <label class="form-check-label" for="flexCheckDefault">
                            Ver nombres
                          </label>
                        </div>
                      </div>


                      <div th:each="usuario : ${usuarios}" class="botonera mx-2 mb-1 float-start">
                        <th th:if="${usuario.NumBrigada}!='000null'">
                          <a th:if="${usuario.Abordo}" th:text="${usuario.NumBrigada}" th:href="@{/usuarios/detalle/{id}(id=${usuario.id})}" class="btn btn-outline-success btn-sm"/>
                          <a th:unless="${usuario.Abordo}" th:text="${usuario.NumBrigada}" th:href="@{/usuarios/detalle/{id}(id=${usuario.id})}" class="btn btn-outline-danger btn-sm"/>
                          <span th:text="${usuario.NombreCorto}" class="nombres d-none">xxx</span>
                        </th>
                        <th th:unless="${usuario.NumBrigada}!='000null'">
                          <span th:text="${usuario.NombreCompleto}" class="nombres">xxx</span>
                        </th>
                      </div>

                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card mb-4 mb-md-0">
                    <div class="card-body">
                        <p class="mb-4"><span class="text-primary font-italic me-1">Movimientos</span></p>
                    </div>
                </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </section>

<!-- Modal -->
<div class="modal fade" id="add_user" tabindex="-1" aria-labelledby="add_userLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="add_userLabel">Agregar Usuarios</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
      </div>
      <div id="agregando_usuarios" class="modal-body text-center">
          <form th:object="${importarArchivo}" enctype="multipart/form-data">
           <input th:field="*{fileDatas}" type="file"  style="display:none"/>
           <button type="button" class="btn btn-primary btn-sm"  data-bs-toggle="modal" data-bs-target="#add_user_ind">Alta individual</button>
           <span role="button" class="btn btn-primary btn-sm" 
            accept=".xls, .csv, .xlsx"
            onclick="document.getElementById('fileDatas').click();">Importar XLS / CSV </span>
       </form>
          <div class="text-start btn btn-outline-success disabled my-4 btn-sm">
            Formato del archivo a importar (Excel o CSV separado por comas)<br><br>
            
            <strong>Formato corto excel</strong><br>
          nombre | apellido1 | apellido2 | dni<br>
          <strong>Formato amplio excel:</strong><br>
          nombre | apellido1 | apellido2 | dni | rancho |  numero
          <br><br>
          - No hay que agregar cabeceras (la primera línea es el primer usuario)<br>
          - Los números de brigada en el formato corto se generan según el orden en que están en excel.<br>
          </div>
      </div>
      <div id="agregando_usuarios2" class="modal-body text-center d-none">
        <input type="hidden" value="" name="fichero" id="fichero">
        <div class="input-group input-group-sm mb-3">
          <span class="input-group-text" id="inputGroup-sizing-sm">Personas por rancho</span>
          <input type="text" class="form-control" aria-label="Personas por rancho" 
          aria-describedby="inputGroup-sizing-sm" value="9">
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>

      </div>
    </div>
  </div>
</div>





<!-- Modal ADD USER-->
<div class="modal fade" id="add_user_ind" tabindex="-1" aria-labelledby="add_user_indLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="add_user_indLabel">Agregar Usuario</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
      </div>
      <div class="modal-body text-center">
      <form>
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">Nombre</span>
          <input type="text" class="form-control" placeholder="Nombre y Apellidos" aria-label="Nombre y Apellidos" aria-describedby="basic-addon1">
        </div>
        <button type="button" class="btn btn-primary btn-sm" disabled>Alta usuario</button>
      </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>

      </div>
    </div>
  </div>
</div>



  <script>
    function actualiza_interface(data){
      document.getElementById("creada").innerHTML=data.creada;
      document.getElementById("actualizada").innerHTML=data.actualizada;
      document.getElementById("nombreBrigada").innerHTML=data.descripcion;

      
    }
  //function actualiza_detalle(){
   fetch('/brigada/get/[[${id}]]', { method: "GET" }).then(response => 
    response.json().then(data => ({
        data: data,
        status: response.status
    })
).then(res => {
  actualiza_interface(res.data)
  get_alumnos();
  console.log(res.data);
}));
    //}    


 function get_alumnos(){
   /*
  fetch('/usuarios/getByBrigada/[[${id}]]', { method: "GET" }).then(response => 
    response.json().then(data => ({
    data: data,
    status: response.status
    })
    ).then(res => {
      //  actualiza_interface(res.data)
      console.log(res.data);
    }));*/
 }   

 const subirImagen= event => {
  const archivos = event.target.files;
  const data = new FormData();

  data.append('fileDatas', archivos[0]);

  fetch('/usuarios/subidaUnArchivo', {
    method: 'POST',
    body: data
  })
  .then(response => response.json())
  .then(data => {
    console.log('El archivo ' + data.path + ' se ha subido correctamente.');
    document.getElementById("agregando_usuarios").classList.add("d-none");
    document.getElementById("agregando_usuarios2").classList.remove("d-none");
  })
  .catch(error => {
    console.error(error);
  });
}

document.querySelector('#fileDatas').addEventListener('change', event => {
    subirImagen(event);
});
  </script>
  
<script>
  function show_nombres(){
  console.log("s");
  const nombres = document.querySelectorAll('span.nombres');
  
  if(document.getElementById("flexCheckDefault").checked){
  for (const nombre of nombres) {
  nombre.classList.remove('d-none');
  nombre.parentNode.classList.remove('float-start');
  }
  } else{
  for (const nombre of nombres) {
  nombre.classList.add('d-none');
  nombre.parentNode.classList.add('float-start');
  }      
  }
  
  
  }
  </script>
  <th:block th:include="/pie.html"></th:block>