<th:block th:include="/cabecera.html"></th:block>

<section style="background-color: #eee;">
    <div class="container py-5">
      <div class="row">
        <div class="col">
          <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
            <ol class="breadcrumb mb-0">
              <li class="breadcrumb-item"><a href="/">Inicio</a></li>
              <li class="breadcrumb-item"><a href="/brigada">Brigadas</a></li>
              <li class="breadcrumb-item active" aria-current="page">Detalle de la Brigada <span id="nombreBrigada"></span> </li>
            </ol>
            <span id="marcas" style="font-size: 10px;">creada: 00/00/00 | Última actualización: 00/00/00</span>
          </nav>
          
        </div>
      </div>
  
      <div class="row">
        <div class="col-lg-4">
          <div class="card mb-4 mb-lg-0">
            <!--DATOS DE BRIGADA-->
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-6"><p class="mb-0">Descripción</p></div>
                    <div class="col-sm-6" id="desc_master"><p  id="descripcion" class="text-muted mb-0">Sin establecer</p></div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-6"><p class="mb-0">Grupo y letra</p></div>
                    <div class="col-sm-6"  id="desc_grupoletra"><p  id="grupo" class="text-muted mb-0">
                      <span id="grp"></span>
                      <span id="lttr"></span>
                    </p></div>
                  </div>
                  <hr>
                    <div class="row">
                    <div class="col-sm-6"><p class="mb-0">Inicio del curso</p></div>
                    <div class="col-sm-6" id="desc_inicio"><p  id="inicio" class="text-muted mb-0">&infin;</p></div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-6"><p class="mb-0">Fin de curso</p></div>
                    <div class="col-sm-6" id="desc_fin"><p  id="fin" class="text-muted mb-0">&infin;</p></div>
                  </div>
                  <hr> 
                  <div class="text-end">
                    <button id="btn_mod_brigada" class="btn btn-sm btn-outline-warning add_fol mb-2"
                       title="Modificar Brigada" onClick="EditBrigada();">Modificar Brigada</button>
                       <button id="btn_closemod_brigada" class="d-none  btn btn-sm btn-outline-secondary add_fol mb-2"
                       title="Cerrar" onClick="CancelEditBrigada();">Cerrar</button>
                       <button id="btn_upd_brigada" class="d-none  btn btn-sm btn-outline-success add_fol mb-2"
                       title="Guardar Cambios" onClick="PostEditBrigada();">Guardar Cambios</button>                                              
                  </div>                                                                                 
                </div>
              <!--FIN DATOS DE BRIGADA-->
          </div>
        </div>



        <div class="col-lg-8">



          <div class="row">

            <div class="col-6">
                <div class="card mb-4 mb-md-0">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-6">
                          <span th:text="'Usuarios ('+ ${usuarios.size}+')'" class="text-primary font-italic me-1">Usuarios</span>
                        </div>
                        <div class="col-6 text-end">
                          <button class="btn btn-sm btn-success add_fol mb-2" data-bs-toggle="modal" 
                            data-bs-target="#add_user" title="Agregar Usuarios">+</button>
                        </div>
                        <div class="col py-3 text-center">
                          <input class="form-check-input" type="checkbox" id="flexCheckDefault" onClick="show_nombres();">
                          <label class="form-check-label" for="flexCheckDefault">
                            Ver nombres
                          </label>
                        </div>
                      </div>


                      <div th:each="usuario : ${usuarios}" class="botonera mx-2 mb-1 float-start">
                        <th th:if="${usuario.NumBrigada}!='000null'">
                          <a th:if="${usuario.Abordo}" th:text="${usuario.NumBrigada}" th:href="@{/usuarios/detalle/{id}(id=${usuario.id})}" class="btn btn-outline-success btn-sm"/>
                          <a th:unless="${usuario.Abordo}" th:text="${usuario.NumBrigada}" th:href="@{/usuarios/detalle/{id}(id=${usuario.id})}" class="btn btn-outline-danger btn-sm"/>
                          <span th:text="${usuario.NombreCorto}" class="nombres d-none">xxx</span>
                        </th>
                        <th th:unless="${usuario.NumBrigada}!='000null'">
                          <span th:text="${usuario.NombreCompleto}" class="nombres">xxx</span>
                        </th>
                      </div>

                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card mb-4 mb-md-0">
                    <div class="card-body">
                        <p class="mb-4"><span class="text-primary font-italic me-1">Movimientos</span></p>
                    </div>
                </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </section>

<!-- Modal -->
<div class="modal fade" id="add_user" tabindex="-1" aria-labelledby="add_userLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="add_userLabel">Agregar Usuarios</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
      </div>
      <div id="agregando_usuarios" class="modal-body text-center">
          <form th:object="${importarArchivo}" enctype="multipart/form-data">
           <input th:field="*{fileDatas}" type="file"  style="display:none"/>
           <button type="button" class="btn btn-primary btn-sm"  data-bs-toggle="modal" data-bs-target="#add_user_ind">Alta individual</button>
           <span role="button" class="btn btn-primary btn-sm" 
            accept=".xls, .csv, .xlsx"
            onclick="document.getElementById('fileDatas').click();">Importar archivo Excel</span>
       </form>
          <div class="text-start btn btn-outline-success disabled my-4 btn-sm">
            <strong>Formato del archivo a importar (Excel) </strong>[Extensión xls, xlsx]<br><br>

            
            <strong>Formato corto excel</strong><br>
          nombre | apellido1 | apellido2 | dni<br>
          <strong>Formato amplio excel:</strong><br>
          nombre | apellido1 | apellido2 | dni | rancho |  numero
          <br><br>
          - No hay que agregar cabeceras (la primera línea es el primer usuario)<br>
          - Los números de brigada en el formato corto se generan según el orden en que están en excel.<br>
          </div>
      </div>
      <div id="agregando_usuarios2" class="modal-body text-center d-none">
        <input type="hidden" value="" name="fichero" id="fichero">
        <div class="input-group input-group-sm mb-3">
          <span class="input-group-text" id="pprancho">Personas por rancho</span>
          <input id="ranchodef" type="text" class="form-control" aria-label="Personas por rancho" 
          aria-describedby="pprancho" value="9">
        </div>
        <div id="detalles" class="container-sm">Sin Brigada definida (Grupo/Letra)</div>
        <div id="bdy_importando" class="container-sm"></div>
        <div id="operacion" class="container-sm">
          <span class="text-danger">Atención: Cualquier usuario existente en esta brigada se eliminará del sistema.</span><br>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick="finalizar_imp()">Importar</button>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>

      </div>
    </div>
  </div>
</div>





<!-- Modal ADD USER-->
<div class="modal fade" id="add_user_ind" tabindex="-1" aria-labelledby="add_user_indLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="add_user_indLabel">Agregar Usuario</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
      </div>
      <div class="modal-body text-center">
      <form>
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">Nombre</span>
          <input type="text" class="form-control" placeholder="Nombre y Apellidos" aria-label="Nombre y Apellidos" aria-describedby="basic-addon1">
        </div>
        <button type="button" class="btn btn-primary btn-sm" disabled>Alta usuario</button>
      </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>

      </div>
    </div>
  </div>
</div>



  <script>
    function actualiza_interface(data){
      document.getElementById("nombreBrigada").innerHTML=data.descripcion;
      document.getElementById("descripcion").innerHTML=data.descripcion;
      document.getElementById("marcas").innerHTML="| Creada: "+data.creada+" | Última actualización: "+data.actualizada+" |";
      if (data.inicio!=null){ document.getElementById("inicio").innerHTML=data.inicio; }
      if (data.fin!=null){ document.getElementById("fin").innerHTML=data.fin; }
      if (data.grupo!=0 || data.letra!=null){
        document.getElementById("detalles").innerHTML='Se importarán en la brigada '+data.grupo+data.letra;
        document.getElementById("grupo").innerHTML=
          '<span id="grp">'+data.grupo+'</span>'+
          '<span id="lttr">'+data.letra+'</span>';
      };
      if (data.rf!=null){ document.getElementById("francos").innerHTML=data.rf; }

      
    }
  //function actualiza_detalle(){
   fetch('/brigada/get/[[${id}]]', { method: "GET" }).then(response => 
    response.json().then(data => ({
        data: data,
        status: response.status
    })
).then(res => {
  actualiza_interface(res.data)
  get_alumnos();
  //console.log(res.data);
}));
    //}    


function finalizar_imp(){
fetch('/usuarios/ProcesaExcel/[[${id}]]/'+document.getElementById("ranchodef").value, { method: "POST" })
.then(async response => {
  if (!response.ok) {
  const error = (data && data.message) || response.status;
  return Promise.reject(error);
  }
  else {
  alert("Importación realizada");
  window.location.reload();
  }
})
.catch(err => {
  alert("No ha sido posible importar los usuarios");
  })
};


 function get_alumnos(){
   /*
  fetch('/usuarios/getByBrigada/[[${id}]]', { method: "GET" }).then(response => 
    response.json().then(data => ({
    data: data,
    status: response.status
    })
    ).then(res => {
      //  actualiza_interface(res.data)
      console.log(res.data);
    }));*/
 }   

 const subirImagen= event => {
  const archivos = event.target.files;
  const data = new FormData();

  data.append('fileDatas', archivos[0]);
/*
  fetch('/usuarios/subirExcel', {
    method: 'POST',
    body: data
  })
  .then(response => response.json())
  .then(data => {
    console.log(data.json);
    document.getElementById("agregando_usuarios").classList.add("d-none");
    document.getElementById("agregando_usuarios2").classList.remove("d-none");
  })
  .catch(error => {
    console.error(error);
  });*/

//fetch('/usuarios/subirExcel', { method: "POST", body: data }).then(response => 
/*
fetch('/usuarios/NuevoExcel', { method: "POST", body: data })
.then(response => response.json()
  .then(data => ({
    data: data,
    status: response.status
    })
  )
  .then(res => {
    document.getElementById("agregando_usuarios").classList.add("d-none");
    document.getElementById("agregando_usuarios2").classList.remove("d-none");
    importacion(res.data);
}));  */

fetch('/usuarios/NuevoExcel', { method: "POST", body: data })
.then(response => response.json()
  .then(data => ({
    data: data,
    status: response.status
    })
  )
  .then(res => {
    document.getElementById("agregando_usuarios").classList.add("d-none");
    document.getElementById("agregando_usuarios2").classList.remove("d-none");
    importacion(res.data);
}))
.catch(error =>{
    alert("El servidor no puede procesar el archivo, compruebe formato Excel");
  }); 







}

document.querySelector('#fileDatas').addEventListener('change', event => {
    subirImagen(event);
});






/*
var payload = {
    a: 1,
    b: 2
};

var data = new FormData();
data.append( "json", JSON.stringify( payload ) );

fetch("/echo/json/",
{
    method: "POST",
    body: data
})
.then(function(res){ return res.json(); })
.then(function(data){ alert( JSON.stringify( data ) ) })
*/
  </script>
  
<script>
  function getOperacion() {
  let name = "operacion=";
  let ca = document.cookie.split(';');
  for(let i = 0; i < ca.length; i++) {
    let c = ca[i];
    while (c.charAt(0) == ' ') {
      c = c.substring(1);
    }
    if (c.indexOf(name) == 0) {
      return c.substring(name.length, c.length);
    }
  }
  return "";
}

  function show_nombres(){
  const nombres = document.querySelectorAll('span.nombres');
  if(document.getElementById("flexCheckDefault").checked){
    for (const nombre of nombres) {
      nombre.classList.remove('d-none');
      nombre.parentNode.classList.remove('float-start');
    }
  } else{
    for (const nombre of nombres) {
      nombre.classList.add('d-none');
      nombre.parentNode.classList.add('float-start');
    }      
  }
  
  
  }
  </script>
  <script>
    function EditBrigada(){
      document.getElementById("desc_master").innerHTML=
        '<input id="descripcion" type="text" class="form-control" value="'+
        document.getElementById("descripcion").innerHTML+'" placeholder="'+
        document.getElementById("descripcion").innerHTML+'"'+
        ' aria-label="descripcion" aria-describedby="desclbl" required>';

        document.getElementById("desc_grupoletra").innerHTML=
        '<div class="input-group"><input id="grupo" type="text" class="form-control" placeholder="'+
        document.getElementById("grp").innerHTML+'" value="'+document.getElementById("grp").innerHTML+'"'+
        ' aria-label="Número que identifica la brigada" aria-describedby="numerolbl"  maxlength="2">'+
        '<input id="letra" type="text" class="form-control" placeholder="'+
        document.getElementById("lttr").innerHTML+'" value="'+document.getElementById("lttr").innerHTML+'"'+
        ' aria-label="Letra que identifica la brigada (ALFA, BRAVO, etc.." aria-describedby="letralbl"  maxlength="3"></div>';    

        $fecha_inicio=document.getElementById("inicio").innerHTML.split('/');
        if ($fecha_inicio.length>2){
          $fecha_inicio=new Date($fecha_inicio[2],$fecha_inicio[1],$fecha_inicio[0]); 
          document.getElementById("desc_inicio").innerHTML=
          '<input id="fecha_inicio" type="date" class="form-control" aria-label="Fecha de inicio"'+
          ' aria-describedby="fechainicio" required>'; 
          fecha_inicio.valueAsDate = 
            new Date(Date.UTC($fecha_inicio.getFullYear(), $fecha_inicio.getMonth()-1, $fecha_inicio.getDate()));
        } else {
            document.getElementById("desc_inicio").innerHTML=
          '<input id="fecha_inicio" type="date" class="form-control" aria-label="Fecha de inicio"'+
          ' aria-describedby="fechainicio" required>';           
        }
        $fecha_fin=document.getElementById("fin").innerHTML.split('/');
        if ($fecha_fin.length>2){
            
          $fecha_fin=new Date($fecha_fin[2],$fecha_fin[1],$fecha_fin[0]); 
          document.getElementById("desc_fin").innerHTML=
          '<input id="fecha_fin" type="date" class="form-control" aria-label="Fecha de Fin"'+
          ' aria-describedby="fecha_fin" required>'; 
          fecha_fin.valueAsDate = 
            new Date(Date.UTC($fecha_fin.getFullYear(), $fecha_fin.getMonth()-1, $fecha_fin.getDate())); 
        } else {
          document.getElementById("desc_fin").innerHTML=
          '<input id="fecha_fin" type="date" class="form-control" aria-label="Fecha de Fin"'+
          ' aria-describedby="fecha_fin" required>'; 
        }
         
        document.getElementById("btn_mod_brigada").classList.add("d-none");
        document.getElementById("btn_closemod_brigada").classList.remove("d-none");
        document.getElementById("btn_upd_brigada").classList.remove("d-none");
            
        
        
                
    }
    function CancelEditBrigada(){
      document.location.reload();    
    }
    function PostEditBrigada(){
      let xhr = new XMLHttpRequest();
      xhr.open("POST", "/brigada/update/[[${id}]]");
      xhr.setRequestHeader("Accept", "application/json");
      xhr.setRequestHeader("Content-Type", "application/json");

      xhr.onreadystatechange = function () {
        if (xhr.readyState === 4) {
          console.log(xhr.status);
          if (xhr.status===200){
            location.reload();
          } else{
            alert("Revise los datos introducidos, cambios no admitidos.");
          }
        }};
$descripcion = document.getElementById("descripcion").value;
$grupo = document.getElementById("grupo").value;
$letra = document.getElementById("letra").value;
$fecha_inicio = document.getElementById("fecha_inicio").value;
$fecha_fin = document.getElementById("fecha_fin").value;
const data = { 
 "descripcion": $descripcion,
 "grupo": $grupo,
 "letra": $letra,
 "inicio": $fecha_inicio,
 "fin": $fecha_fin,
};

xhr.send(JSON.stringify(data));

    }



  </script>
  <script>
function importacion(data){
//generamos la tabla a través del DOM automáticamente
var table = document.createElement("table");
    table.setAttribute("id", "tbl_brigadas");
    table.classList.add("tableSection");
var body = document.getElementById("bdy_importando");
    body.innerHTML = '';
    body.appendChild(table).classList.add("table", "table-hover"); 
//campos a mostrar
const mostrar = ["nombre","apellido1","apellido2", "dni"];

if (data.length) {
  var thead = document.createElement("thead"); 
  var row = document.createElement("tr");
  thead.appendChild(row);
  table.appendChild(thead).classList.add("table-light"); 
  Object.keys(data[0]).forEach(function(v,i=0) {
    if (mostrar.includes(v)){
      i++;
      var cell = document.createElement("th");
      row.appendChild(cell).setAttribute("scope", "col");
      //oculto en movil, resto de columnas, dejando solo 1 y 2
      if (i>2){ cell.classList.add("d-none","d-sm-table-cell"); }
      //fin ocultacion
      cell.innerHTML = v.toUpperCase();
    }
  });
}



//lo anterior genera la tabla sola a partir del JSON
//si quiero meter funcionalidades a mayores, tengo que incluirlas.
//agregando botones, necesito un th mas para los botones:
//row.appendChild(document.createElement("th")).setAttribute("scope", "col");
//row.lastChild.innerHTML = "ACCIONES";
// ahora ya tenemos una columna para acciones, generamos filas en auto:
var tbody = document.createElement("tbody"); 

for (var i = 0; i < data.length; i++) {
  
  var row = document.createElement("tr");
  tbody.appendChild(row);
  table.appendChild(tbody);
  j=0;
  for (key in data[i]) {
    if (mostrar.includes(key)){
      j++;
      var cell = document.createElement("td");
      row.appendChild(cell).setAttribute("scope", "row");
      cell.innerHTML = data[i][key];
    }
  }
   
}

}
  </script>
  <style>
    /*



table.tableSection tr {
    width: 100%;
    display: table;
    text-align: left;
}
*/

table.tableSection tbody {
    overflow: auto;
    height: 150px;
}
table.tableSection tbody {
    float: left;
    width: 100%;
}
table.tableSection thead {
  display: none;
}
  </style>
  <th:block th:include="/pie.html"></th:block>