<th:block th:include="cabecera.html"></th:block>


  <main class="wrapper">

    <div class="container">
      <div class="row">
        <div id="cam" class="col-12 col-lg-3">
          <section class="p-4 container d-none difuminado" style="background-color: rgba(228,235,170,0.8);" id="lectorQrs">
            <div class="p-2 difuminado" style="background-color: rgba(14, 14, 13, 0.8);">
              <video id="video" width="100%" height="200" style="border: 0px solid gray"></video>
            </div>
      
            <div class="p-2">
              <a class="button btn btn-sm btn-warning" id="startButton">Iniciar</a>
              <a class="button btn btn-sm btn-danger" id="resetButton">Detener</a>
            </div>
      

            <div class="form-floating mt-3" id="sourceSelectPanel" style="display:none">
              <select class="form-select" id="sourceSelect" aria-label="Dispositivo:">
              </select>
              <label for="sourceSelect">Lector:</label>
            </div>

            <a id="tipos" class="button btn btn-sm btn-outline-success mt-3">Salida de Francos</a>
          </section>

<style>
  #tipos:hover{
    background-color: green;
  }
</style>       
        </div>
        <div id="fotos" class="col-12 col-lg-3 d-none">
          <div class=" px-3">
            <img id="ultFoto" src="/fotos/default.jpg" class="img-thumbnail rounded" alt="">
          </div>
          
        </div>        
        <!-- Inicio de la tabla de datos -->
        <div id="datos" class="col-12 col-lg-6 d-none">
          
          <table class="table">
            <thead>
              <tr>
                <th scope="col" class="d-none">#</th>
                <th scope="col">Número</th>
                <th scope="col">Alumno</th>
              </tr>
            </thead>
            <tbody id="detalleDatos">
              <tr>
                <th scope="row" class="d-none">1</th>
                <td>Mark</td>
                <td>Otto</td>
                </tr>
            </tbody>
          </table>
          <a id="dasalida" class="button btn btn-sm btn-success mt-3 d-none">Dar salida</a>
        </div>
        <!-- Fin  de la tabla de datos -->

      </div>
    </div>

    



  </main>

  <script src="/js/zxing.js"></script>
  <script src="/js/lector.js"></script>
<th:block th:include="pie.html"></th:block>