<th:block th:include="/cabecera.html"></th:block>

<div class="container-sm">

  <div class="row" th:with="lista = ${ { 'brigada', 'movimientos', 'lector'} }">
    <div th:each="variable : ${lista}" class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title" th:text="|${variable}|">titulo</h5>
          <p class="card-text" th:text="|Control de ${variable}|">texto</p>
          <a class="btn btn-primary" th:href="@{'/' + ${variable}}" th:text="|Ir a ${variable}|">texto boton</a>
        </div>
      </div>
    </div>

  </div>


</div>
<th:block th:include="/pie.html"></th:block>