<th:block th:include="cabecera.html"></th:block>

<div class="container-sm">

<div><h4>Estado de la fuerza</h4></div>

<table class="table">
    <thead>
      <tr>
        <th scope="col">Brigada</th>
        <th scope="col">A bordo</th>
        <th scope="col">En tierra</th>
        <th scope="col">Total</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="cuen : ${cuenta}">
        <td scope="row"><a th:href="'/brigada/show/'+${cuen[3]}" th:text="${cuen[4]}"></a></td>
        <td th:text="${cuen[1]}">xx</td>
        <td th:text="${cuen[2]}">xx</td>
        <td th:text="${cuen[0]}">xx</td>
    </tr>
    </tbody>
  </table>






</div>
<th:block th:include="pie.html"></th:block>