
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>vamos alla</title>
</head>
<body>

   
        <h1>Registro</h1>
        <form action="/procesaregistro" method="post">

            <div>
                <label>DNI</label>
                <input id="dniusuario" name="dniusuario"  type="text">
            </div>
            

            <input  type="submit" value="enviar"/>
            
        </form>
        
        
     
</body>
</html>