<!DOCTYPE html>
<html lang="es">
<th:block th:include="fragments/head.html"></th:block>
<body  class="login" style="background-color:rgba(6, 85, 181, 0.449)">
  <div class="container-sm p-3 mb-2 bg-light text-dark">


  
  <h1>Registro de usuario</h1>

 

  <form action="/establecer" method="post">
    <div>
      <input type="hidden" th:value="${referencia}" name="referencia">
    </div>

    <div>
      <label>Establecer Contraseña</label>
      <input name="pwdusr"  type="password">
    </div>
    <input  type="submit" value="enviar"/>

    <div  th:if="${error}" class="alert alert-danger" role="alert">Ocurrió un error al procesar su cambio de clave</div>

    <th:block th:include="fragments/footer.html"></th:block>
    <a href="/login">Volver al inicio</a>  
    <script src="/js/bootstrap.bundle.min.js"></script>
  </body>
  </html>


