<!DOCTYPE html>
<html lang="es">
<th:block th:include="fragments/head.html"></th:block>
<body class="home9" style="background-color:rgba(78, 160, 245, 0.72)">
    <div class="container px-4 pt-5">
        <div class="row gx-5">
            <div class="col">
                <div class="p-3 border difuminado" style="background-color: rgba(228,235,170,0.8);">
                    <div class="badge bg-primary" style="border-radius: 45px;">
                        <h2 class="text-center text-light h4 mt-2">"Hasta pronto..."</h2>
                    </div>
                    <div class="col">
                        <img src="logo_escano.png" width="25%" class="rounded mx-auto d-block" alt="logo_escano.png">
                    </div>
                Puedes volver a <a href="/login">iniciar sesión</a> si lo deseas.</div>
            </div>
        </div>
    </div>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/salir.js"></script>
</body>
</html>