<!DOCTYPE html>
<html lang="es">
<th:block th:include="/fragments/head.html"></th:block>
<body class="home9">
    <div class="container px-4 pt-5">
        <div class="row gx-5">
            <div class="col">
                <div class="p-3 border bg-light"><div class="badge bg-success">Hasta pronto</div><br><br> Puedes volver a <a href="/login">iniciar sesión</a> si lo deseas.</div>
            </div>
        </div>
    </div>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/salir.js"></script>
</body>
</html>