<th:block th:include="/cabecera.html"></th:block>

<section style="background-color: #eee;">
    <div class="container py-5">
      <div class="row">
        <div class="col">
          <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
            <ol class="breadcrumb mb-0">
              <li class="breadcrumb-item"><a href="/">Inicio</a></li>
              <li class="breadcrumb-item"><a href="/brigada">Brigadas</a></li>
              <li class="breadcrumb-item"><a href="/" th:href="'/brigada/show/'+${usuario.BrigadaId}" th:text="'Brigada '+${usuario.getBrigadaDescripcion}" >Usuarios</a></li>
              <li class="breadcrumb-item active" aria-current="page" th:text="'Ficha de '+${usuario.nombre}+' '+${usuario.apellido1}+' '+${usuario.apellido2}" >Detalle del usuario</li>
            </ol>
          </nav>
        </div>
      </div>




      <div class="row">
        <div class="col-lg-4">
          <div class="card mb-4">
            <div class="card-body text-center">
              <div class="container">
              <img th:src="'/fotos/'+${usuario.getFoto}" alt="Foto"
                class="rounded-circle img-fluid fotog" style="width: 150px;border-radius: 10%!important;">



              </div>
              <h5 th:text="${usuario.NombreCompleto}" class="my-3">John Smith</h5>
              <p th:text="${usuario.dni}" class="text-muted mb-1">DNI</p>
              <p th:text="'Brigada '+${usuario.getBrigadaDescripcion}" class="text-muted mb-4">Brigada</p>
              <img th:src="'/qr-'+${id}+'.png'" src="xxx" alt="QR"
                class="rounded-circle img-fluid" style="width: 150px;border-radius: 10%!important;">
                <br><br>
              <div class="d-flex justify-content-center mb-2">
                <button th:if="${usuario.NumBrigada}!='000null'" type="button" class="btn btn-primary" th:text="${usuario.NumBrigada}" disabled>Num Brigada</button>
              </div>
            </div>
          </div>

        </div>



        <div class="col-lg-8">



          <div class="row">

            <div class="col-12 col-lg-6">
                <div class="card mb-4 mb-md-0">
                    <div class="card-body">
                      <p class="mb-4"><span class="text-primary font-italic me-1">Últimos 10 registros</span></p>

                      <div th:each="movimiento : ${movimientos}" class="mx-2 mb-1">
                          <span th:if="${movimiento.Abordo}" th:text="${#temporals.format(movimiento.cuando, 'dd-MM-yyyy HH:mm')}"  class="btn btn-outline-success btn-sm"/>
                          <span th:unless="${movimiento.Abordo}" th:text="${#temporals.format(movimiento.cuando, 'dd-MM-yyyy HH:mm')}"  class="btn btn-outline-danger btn-sm mx-4"/>
                      </div>


                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="card mb-4 mb-md-0">
                    <div class="card-body">
                        <p class="mb-4"><span class="text-primary font-italic me-1">Autorizaciones</span></p>
                    </div>
                </div>
                <div class="card my-4 mb-md-0">
                  <div class="card-body">
                      <p class="mb-4"><span class="text-primary font-italic me-1">Acciones</span></p>
                      <form id="panel">
                        <input type="file" style="display:none" id="fileDatas" name="fileDatas">
                         <span role="button" class="btn btn-primary btn-sm" 
                          accept=".jpg, .jpeg, .bmp, .png, .gif"
                          onclick="document.getElementById('fileDatas').click();">subir foto</span>
                          <span role="button" class="btn btn-warning btn-sm" 
                            onclick="edita_usuario();" >editar usuario</span>
                          <span role="button" class="btn btn-danger btn-sm" onclick="borra_usuario();" >borrar usuario</span>
                      </form>
                      
                      <form id="edita_usuario" class="d-none">
                      <div class="input-group mb-1 pt-2">
                        <span class="input-group-text" id="nombre_lbl">Nombre</span>
                        <input th:value="${usuario.nombre}" id="edit_nombre" type="text" class="form-control" placeholder="Nombre" aria-label="Nombre" aria-describedby="nombre_lbl">
                      </div>
                      <div class="input-group mb-1">
                        <span class="input-group-text" id="er1">1er Apellido</span>
                        <input th:value="${usuario.apellido1}" id="edit_apellido" type="text" class="form-control" placeholder="er1" aria-label="1er Apellido" aria-describedby="er1">
                      </div>
                      <div class="input-group mb-1">
                        <span class="input-group-text" id="do2_lbl">2do Apellido</span>
                        <input th:value="${usuario.apellido2}" id="edit_apellido2" type="text" class="form-control" placeholder="do2" aria-label="2do Apellido" aria-describedby="do2_lbl">
                      </div>
                      <div class="input-group mb-1">
                        <span class="input-group-text" id="dni_lbl">DNI</span>
                        <input th:value="${usuario.dni}" id="edit_dni" type="text" class="form-control" placeholder="dni" aria-label="DNI" aria-describedby="dni_lbl">
                      </div>   
                      <div class="input-group mb-1">
                        <span class="input-group-text" id="num_lbl">#</span>
                        <input th:value="${usuario.numero}" id="edit_numero" type="text" class="form-control" placeholder="num" aria-label="#" aria-describedby="num_lbl">
                        <span class="input-group-text" id="rancho_lbl">Rancho</span>
                        <input th:value="${usuario.rancho}" id="edit_rancho" type="text" class="form-control" placeholder="rancho" aria-label="#" aria-describedby="rancho_lbl">
                      </div>   
                      </form>                    

                      
                  </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </section>
  <style>
    .edit_foto{
      display: none;
    }
    .fotog:hover + div{
      display: block;
      position: absolute;
      top: 10%;
      left: 50%;
      /*transform: translate(-50%, -50%);*/
    }
    </style>
    
<script>

function borra_usuario(){
fetch('/usuarios/del/[[${id}]]', { method: "DELETE" })
.then(async response => {
  if (!response.ok) {
  const error = (data && data.message) || response.status;
  return Promise.reject(error);
  }
  else {
    window.location.href = '/brigada/show/[[${usuario.BrigadaId}]]'; 
  }
})
.catch(err => {
  alert("No ha sido posible borrar el usuario, ¿tiene autorizaciones o registros?");
  })
};

  function edita_usuario(){
    document.getElementById('edita_usuario').classList.remove('d-none');
    document.getElementById('panel').classList.add('d-none');
  }
  
  const subirImagen= event => {
   const archivos = event.target.files;
   const data = new FormData();
   data.append('fileDatas', archivos[0]);
 
 fetch('/subeFoto/[[${id}]]', { method: "POST", body: data })
 .then(async response => {
   if (!response.ok) {
   const error = (data && data.message) || response.status;
   return Promise.reject(error);
   }
   else {
   alert("Foto subida correctamente");
   window.location.reload();
   }
 })
 .catch(err => {
   alert("No ha sido posible subir la foto");
   })
 }
 
 document.querySelector('#fileDatas').addEventListener('change', event => {
     subirImagen(event);
 });
 </script>
  <th:block th:include="/pie.html"></th:block>